@page "/"
@using DanilvarKanji.Client.Data
@using DanilvarKanji.Client.Localization.LocaleKeys
@inject IStringLocalizer<Index> Loc

<PageTitle>@AppDisplaySettings.AppTitle - @Loc[nameof(IndexLocaleKeys.HomeTitle)]</PageTitle>
<div class="text-center">
    <h1 class="display-4 txt-white main-font">
        @Loc[nameof(IndexLocaleKeys.WelcomeToApp)] <b class="txt-bright-pink">@AppDisplaySettings.AppTitle</b>
    </h1>
</div>