@page "/"
@using DanilvarKanji.Client.Data

<PageTitle>@AppDisplaySettings.AppTitle - главная</PageTitle>
<div class="text-center txt-white">
    <h1 class="display-4">Добро пожаловать на @AppDisplaySettings.AppTitle</h1>
</div>

