@page "/"
@using DanilvarKanji.Client.Data

<PageTitle>@AppDisplaySettings.AppTitle - главная</PageTitle>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать на @AppDisplaySettings.AppTitle</h1>
</div>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>