@page "/"

@using DanilvarKanji.Client.Data
@using DanilvarKanji.Client.Localization.LocaleKeys
@inject IStringLocalizer<Index> Loc

<PageTitle>@AppDisplaySettings.AppTitle - @Loc[nameof(IndexLocaleKeys.HomeTitle)]</PageTitle>
<div class="text-center">

    <h1 class="display-4 txt-white main-font ">
        @Loc[nameof(IndexLocaleKeys.WelcomeToApp)] <b class="animated-blink">@AppDisplaySettings.AppTitle</b>
    </h1>

    <ScrollSection ImageSource="https://th.bing.com/th/id/OIG.OXBS3CECFtEOQyxwy7Vm?pid=ImgGn" Title="Some Text" Text="HAHAHHA"/>
    <ScrollSection ImageSource="https://th.bing.com/th/id/OIG.KwaNSjUB_tPiHkOFwxsf?pid=ImgGn" Title="Some Text" Text="HAHAHHA" FromRight="false"/>
    <ScrollSection ImageSource="https://th.bing.com/th/id/OIG.ieffDyC8ODj4idx7X4xL?pid=ImgGn" Title="Some Text" Text="HAHAHHA"/>

</div>
<AuthorizeView>
    <NotAuthorized>
        <p>HI IM NARUTOMANIA</p>
    </NotAuthorized>
</AuthorizeView>