@page "/sel"
@using DanilvarKanji.Client.JsWrapper


@inject Js JSRuntime

<button @onclick="ToggleTheme">Toggle Theme</button>

@code {
    bool isDarkTheme = false;

    async Task ToggleTheme()
    {
        isDarkTheme = !isDarkTheme;
        if (isDarkTheme)
        {
            await JSRuntime.Dom.ApplyLightThemeAsync();
        }
        else
        {
            await JSRuntime.Dom.RemoveLightThemeAsync();
        }
    }
}