@page "/sel"
@using DanilvarKanji.Client.JsWrapper
@using DanilvarKanji.Client.State

@inject Js JSRuntime
@inject AppState AppState;

<button @onclick="ToggleTheme">Toggle Theme</button>

@code {
    bool isDarkTheme = false;

    async Task ToggleTheme()
    {
        isDarkTheme = !isDarkTheme;
        if (isDarkTheme)
        {
            await JSRuntime.Dom.ApplyThemeAsync("purple-theme");
            await AppState.ThemeState.UpdateAsync("purple-theme");
        }
        else
        {
            await JSRuntime.Dom.RemoveThemeAsync("purple-theme");
            await AppState.ThemeState.UpdateAsync("");

        }
    }
}