@page "/Review-Result/{ReviewSessionIdId}"

@using DanilvarKanji.Shared.Responses.Review
@using DanilvarKanji.Client.Services.Review

@if (_reviewSession is null)
{
    <DisplayLoading/>
}
else
{
    <h3>@_reviewSession?.ReviewDataTime</h3>
}

@code {

    [Parameter, EditorRequired]
    public required string ReviewSessionId { get; set; }

    [Inject]
    public required IReviewService ReviewService { get; set; }

    private GetBaseReviewSessionResponse? _reviewSession;

    protected override async Task OnInitializedAsync()
    {
        _reviewSession = await ReviewService.GetReviewSessionAsync(ReviewSessionId);
    }

}