.head-nav[b-0y1ddr2mou] {
    background-color: #2e2e31;
}

.txt-light[b-0y1ddr2mou] {
    color: #e5e3e3 !important;
}

.txt-dark[b-0y1ddr2mou] {
    color: #1f1f1f !important;
}

.txt-gray[b-0y1ddr2mou] {
    color: #2f2f2f !important;
}

.bg-gray[b-0y1ddr2mou] {
    background-color: #2f2f2f !important;
}

.bg-extra-black[b-0y1ddr2mou] {
    background-color: #151515 !important;
}

.link-main[b-0y1ddr2mou] {
    color: #f81d56;
}