@page "/Characters"

@if (CharacterItems == null)
{
    <DisplayLoading></DisplayLoading>
}
else
{
    <h3 class="mb-5 display-3 txt-white">Кандзи</h3>
    
    if (CharacterItems.Any())
    {
        <CharacterDetails Character="_selectedCharacter"/>

        <div class="row mt-3">
            <DisplayCharacters CharacterItems="CharacterItems" OnSelected="HandleTrailSelected"/>
        </div>
    }
}