@inherits NeedsCultureComponent

<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer bg-main-2">
        @if (_activeCharacter != null)
        {
            <div class="drawer-controls">
                <button class="btn btn-secondary" @onclick="Close">X</button>
            </div>
            <div class="drawer-content">
                <CharacterDetailsMinimal Character="_activeCharacter"/>
            </div>
        }
    </div>
</div>