@page "/{Id}"

@if (Character == null /*&& ErrorMessage == null*/)
{
    <DisplayLoading/>
}
@*else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}*@
else
{
    <div class="row">
        <div class="col-md-6">
            <h1 class="txt-mid-pink display-1 text-center jap-font">
                @Character?.Definition
            </h1>
            <p class="mb-4">@Character.CharacterType</p>
            <p class="mb-4">
                <b>
                </b>
            </p>
            <div>
                <button class="btn btn-success">
                    <b>Add to Cart</b>
                </button>
            </div>
        </div>

    </div>
}