@page "/Characters"
@using DanilvarKanji.Client.Data

<PageTitle>@Loc["Kanji"] - @AppDisplaySettings.AppTitle</PageTitle>

<h3 class="mb-5 display-3 txt-bright-pink main-font">@Loc["Kanji"]</h3>

<CharacterDetails Character="_selectedCharacter"/>
<div class="row mt-3">
    <DisplayCharacters OnSelected="HandleCharacterSelected"/>
</div>