@page "/Characters"
@using DanilvarKanji.Client.Data

<PageTitle>Kanji - @AppDisplaySettings.AppTitle</PageTitle>

@if (CharacterItems == null)
{
    <DisplayLoading></DisplayLoading>
}
else
{
    <h3 class="mb-5 display-3 animated-blink main-font">Кандзи</h3>
    
    if (CharacterItems.Any())
    {
        <CharacterDetails Character="_selectedCharacter"/>

        <div class="row mt-3">
            <DisplayCharacters CharacterItems="CharacterItems" OnSelected="HandleTrailSelected"/>
        </div>
    }
}