<p class="card-text @DisplayStyle txt-light-pink main-font">
    @if (KanjiMeanings.ContainsKey(CharacterId))
    {
        for (var i = 0; i < KanjiMeanings[CharacterId].Count; i++)
        {
            string kanjiMeaning = KanjiMeanings[CharacterId][i];
            var resultMeaning = $"{char.ToUpper(kanjiMeaning[0])}{kanjiMeaning[1..]}";

            @resultMeaning

            if (i < KanjiMeanings[CharacterId].Count - 1)
            {
                <span>, </span>
            }
        }
    }
</p>

@code {

    [Parameter] [EditorRequired] public Dictionary<string, List<string>> KanjiMeanings { get; set; } = default!;

    [Parameter] [EditorRequired] public string CharacterId { get; set; } = default!;

    [Parameter] public string DisplayStyle { get; set; } = "display-7";

}