@using DanilvarKanji.Shared.DTO
@using DanilvarKanji.Shared.Models
@using DanilvarKanji.Client.Extensions
@using DanilvarKanji.Shared.Models.Enums


@foreach (CharacterDto character in CharacterItems)
{
    <div class="col-md-3 mb-2">
        <a class="pointer-cursor" @onclick="@(async () => await OnSelected.InvokeAsync(character))">
            <div class="card bg-main">
                <div class="card-body">
                    <h1 class="card-title display-1 mb-3 jap-font txt-mid-pink text-center">
                        @if (character.Definition != null)
                        {
                            @character.Definition
                        }
                    </h1>
                    
                    @if (_allKanjiMeanings != null)
                    {
                        <DisplayKanjiMeanings AllKanjiMeanings="_allKanjiMeanings" CharacterId="@character.Id"/>
                    }
                    @if (character.Kunyomis is {Count: > 0})
                    {
                        <p class="card-text txt-white">
                            <DisplayKunyomi Character="character" MaxReadingsToDisplay="3"/>
                        </p>
                    }
                    else
                    {
                        <p class="card-text txt-white">-----</p>
                    }
                    @if (character.Onyomis is {Count: > 0 })
                    {
                        <p class="card-text txt-white">
                            <DisplayOnyomi Character="character" MaxReadingsToDisplay="3"/>
                        </p>
                    }
                    else
                    {
                        <p class="card-text txt-white">-----</p>
                    }
                    <p class="card-text txt-gray">
                        JLPT @character.JlptLevel.GetDisplayName()
                    </p>
                </div>
            </div>
        </a>
    </div>
}