@using DanilvarKanji.Shared.Responses.Character

@{
    if (Character.Kunyomis != null)
    {
        var kunyomiList = Character.Kunyomis.ToList();

        for (var i = 0; i < Math.Min(MaxReadingsToDisplay, kunyomiList.Count); i++)
        {
            var japaneseWriting = kunyomiList[i].JapaneseWriting;

            <HumanReadJapaneseWriting JapaneseWriting="@japaneseWriting"/>

            if (i < Math.Min(MaxReadingsToDisplay, kunyomiList.Count) - 1)
            {
                <span>、</span>
            }
        }
    }
}

@code
{
    [Parameter] [EditorRequired] public CharacterResponseResponseFull Character { get; set; } = default!;

    [Parameter] public int MaxReadingsToDisplay { get; set; } = int.MaxValue;
}