@inject IStringLocalizer<App> Loc;

@ChildContent

<div class="d-grid gap-4 mt-4">
    <button @onclick="OnForgot.Invoke" class="btn btn-lg btn-outline-danger">@Loc["Forgot"]</button>

</div>

@code {

    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }

    [Parameter, EditorRequired] public required Func<Task> OnForgot { get; set; }

}