@using DanilvarKanji.Shared.Responses.Character

<div class="text-center">
    <p class="text-body txt-green-dim fs-3">
        @Loc["WhatIsMeaningFor"]
        <span class="txt-mid-pink jap-font">@CharacterForVerification.Definition</span>
    </p>
</div>

@code {
    [Parameter, EditorRequired]
    public required GetAllFromCharacterResponse CharacterForVerification { get; set; }
    
    [Inject]
    public required IStringLocalizer<App> Loc { get; set; }
}