@page "/Flashcards"
@using DanilvarKanji.Client.Data

<PageTitle>Flashcards - @AppDisplaySettings.AppTitle</PageTitle>

<h3 class="mb-5 display-3 txt-bright-pink main-font">Flashcards</h3>

<div class="d-flex">
    <button type="button" @onclick="@(() => NavigationManager.NavigateTo("/Add"))" class="btn btn-primary mb-2">
        Add New Collection
    </button>
</div>

@code {
    [Inject] public required NavigationManager NavigationManager { get; set; }
}