@inherits TestContext


@code {

  @*[Fact]
    public void KunymisInBrackets_ShouldBe_Gray()
    {
        
        //Arrange
        var character = new CharacterDto()
        {
            Definition = "Some def",
            CharacterType = CharacterType.Kanji,
            JlptLevel = JlptLevel.N1,

            Kunyomis = new List<Kunyomi>()
            {
                new("Hito(tsu)", "Hitotsu"),
                /*new("Naruto(mania)", "Narutomania"),
                new("Hi(ba)ra", "Hibara")*/
            }
        };
        
        IRenderedFragment cut = Render(@<DisplayKunyomi Character="character"/>);

        //Assert
        cut.Find("card-text txt-white main-font").MarkupMatches(@<span>Hito</span><span class="txt-gray">tsu</span>);
    }*@

}