@using DanilvarKanji.Client.Services.Auth
@using DanilvarKanji.Shared.Responses.User
@using System.Net

<span>@_user?.UserName</span>

@code {

    [Inject]
    public IUserService UserService { get; set; } = default!;

    private UserResponseBase? _user;

    protected override async void OnInitialized()
    {
        try
        {
            _user = await UserService.GetUserAsync();
            StateHasChanged();
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == HttpStatusCode.Unauthorized)
            {
                return;
            }

            throw;
        }
    }
}