@using DanilvarKanji.Client.Services.Auth
@using DanilvarKanji.Shared.Responses.User


<h3>GetUserXp</h3>

@code {
    [Inject] public required IUserService UserService { get; set; }

    private UserResponseBase? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.GetUserAsync();
    }
}