/* /Pages/Characters/CharacterDetails.razor.rz.scp.css */
.drawer-mask[b-igrduns1kb] {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide .drawer-mask[b-igrduns1kb] {
    opacity: 0.5;
    visibility: visible;
}
.drawer-wrapper.slide .drawer[b-igrduns1kb] {
    transform: translateX(0);
}

.drawer[b-igrduns1kb] {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.6s ease, width 0.6s ease;
}

.drawer-content[b-igrduns1kb] {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.char-details[b-igrduns1kb] {
    padding: 20px;
}

.drawer-controls[b-igrduns1kb] {
    padding-left: 20px;
    padding-top: 20px;
}
/* /Pages/Characters/Characters.razor.rz.scp.css */
/* /Pages/Characters/DisplayCharacters.razor.rz.scp.css */
a[b-ricpcbxni2] {
    text-decoration: none;
}

a:hover .card[b-ricpcbxni2] {
    box-shadow: 0 4px 8px 0 rgb(243, 133, 167), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.card[b-ricpcbxni2] {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img[b-ricpcbxni2] {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

/* /Shared/DisplayLoading.razor.rz.scp.css */
/* /Shared/Forms/FormSection.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s586sxsw3p] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s586sxsw3p] {
    flex: 1;
}

/*.sidebar {
    background-image: linear-gradient(180deg, rgb(44 44 44) 0%, #1a1919 70%);
}*/

.top-row[b-s586sxsw3p] {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}


    .page[b-s586sxsw3p] {
        flex-direction: row;
    }

    .sidebar[b-s586sxsw3p] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s586sxsw3p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-s586sxsw3p]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-s586sxsw3p], article[b-s586sxsw3p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-m80avslso6] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-m80avslso6] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-m80avslso6] {
    font-size: 1.1rem;
}

.oi[b-m80avslso6] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-m80avslso6] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-m80avslso6] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-m80avslso6] {
        padding-bottom: 1rem;
    }

    .nav-item[b-m80avslso6]  a {
        color: var(--green-color-dim);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-m80avslso6]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: var(--green-color-dim);
}

.nav-item[b-m80avslso6]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: var(--green-color-dim);
}

@media (min-width: 641px) {
    .navbar-toggler[b-m80avslso6] {
        display: none;
    }

    .collapse[b-m80avslso6] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-m80avslso6] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
