@page "/register-success"

<div class="text-center">
    <h1 class="display-3 main-font txt-white">
        Your account was successfully registered!
    </h1>
    <NavLink href="login" class="btn mid-three-d-btn">Log In</NavLink>
</div>

@code {
    
}