@page "/register-success"

<div class="text-center">
    <h1 class="display-3 main-font txt-bright-pink">
        Your account was successfully registered!
    </h1>
    <NavLink href="login" class="btn btn-lg btn-primary">Log In</NavLink>
</div>

@code {
    
}