@page "/register-success"

@inject IStringLocalizer<App> Loc;


<div class="text-center">
    <h1 class="display-3 main-font txt-bright-pink">
        @Loc["AccountRegistered"]
    </h1>
    <NavLink href="login" class="btn btn-lg btn-primary">@Loc["Login"]</NavLink>
</div>

@code {
    
}