@page "/Characters/Add"
@using DanilvarKanji.Client.Data
@using DanilvarKanji.Shared.Requests.Characters

@inject IStringLocalizer<App> Loc;

<PageTitle>@Loc["AddNewChar"] - @AppDisplaySettings.AppTitle</PageTitle>

<h1 class="mt-5 mb-4 animated-blink main-font display-3">
    @Loc["AddNewChar"]
</h1>

<CharacterForm CharacterRequest="_characterRequest" OnHandleSubmit="onHandleSubmit"></CharacterForm>
@{
    async Task<bool> onHandleSubmit()
    {
        CharacterRequest? character = await CharacterService.AddCharacterAsync(_characterRequest);

        return character is not null;
    }
}