@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

:root {
    --color-main: #1f1f1f;
    --color-main-2: #221f22;
    --color-secondary: #2e2e31;
    --color-secondary-2: #2d2a2e;
    --color-secondary-3: #3d393d;
    --accent-color-bright: #ff4863;
    --pink-color-mid: #f95668;
    --pink-color-light: #ff6d82;
    --pink-color-pale: #f68d9b;
    --contrast-color: #e8e8e8;
    --gray-color: #4d4c4c;
    --red-color-dim: rgba(224, 71, 71, 0.35);
    --red-color: #f13434;
    --orange-color: #f66b2e;
    --yellow-color: #eaaf0c;
    --lime-color: #86e833;
    --green-color: #2df17e;
    --green-color-2: #20cb98;
    --accent-color-secondary: #9de3aa;
}

.purple-theme {
    --color-main: #f3f0ff;
    --color-main-2: #f3f0ff;
    --color-secondary: #f3f0ff;
    --color-secondary-2: #e4dcf7;
    --color-secondary-3: #cabde5;
    --accent-color-bright: #ab74cb;
    --accent-color-secondary: #af5c94;
    --pink-color-mid: #6c54ae;
    --pink-color-light: #6c54ae;
    --pink-color-pale: #6c54ae;
    --contrast-color: #221f22;
}

.pink-orange-theme {
    --color-main: #ffdbe5;
    --color-main-2: #ffdbe5;
    --color-secondary: #ffe6ee;
    --color-secondary-2: #ffe6ee;
    --color-secondary-3: #e3c1ca;
    --accent-color-bright: #cb402d;
    --accent-color-secondary: #7aba9a;
    --pink-color-mid: #c7665f;
    --pink-color-light: #c7665f;
    --pink-color-pale: #c7665f;
    --contrast-color: #221f22;
}

.extra-dark-theme {
    --color-main: #121014;
    --color-main-2: #121014;
    --color-secondary: #141216;
    --color-secondary-2: #141216;
    --color-secondary-3: #1d1b1f;
    --accent-color-bright: #38a095;
    --accent-color-secondary: #7b76f2;
    --pink-color-mid: #38a095;
    --pink-color-light: #38a095;
    --pink-color-pale: #38a095;
    --contrast-color: #e8e8e8;
}

.table-dark {
    background-color: var(--color-main-2) !important;
}

.txt-bright-pink {
    color: var(--accent-color-bright) !important;
}

.txt-mid-pink {
    color: var(--pink-color-mid) !important;
}

.txt-light-pink {
    color: var(--pink-color-light) !important;
}

.txt-yellow {
    color: var(--yellow-color) !important;
}

.txt-green {
    color: var(--green-color-2) !important;
}

.txt-green-dim {
    color: var(--accent-color-secondary) !important;
}

.txt-white {
    color: var(--contrast-color) !important;
}

.txt-gray {
    color: var(--gray-color) !important;
}

.txt-dark {
    color: var(--color-main) !important;
}

.bg-main {
    background-color: var(--color-main) !important;
}

.bg-main-2 {
    background-color: var(--color-main-2) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-secondary-2 {
    background-color: var(--color-secondary-2) !important;
}

.bg-light-pink {
    background-color: var(--pink-color-light) !important;
}

.bg-danger-dim {
    background-color: var(--red-color-dim) !important;
}

.bg-danger {
    background-color: var(--red-color) !important;
}

.bg-success {
    background-color: var(--green-color) !important;
}

.bg-green {
    background-color: var(--green-color-2) !important;
}

.bg-orange {
    background-color: var(--orange-color) !important;
}

.dark-grad-bg-img {
    background-image: linear-gradient(180deg, rgb(44 44 44) 0%, #1a1919 70%) !important;
}

.dark-grad-bg {
    background: linear-gradient(45deg, #3237ef, #795df6);
}

@keyframes blink {
    0% {
        color: var(--accent-color-bright)
    }
    25% {
        color: var(--pink-color-light)
    }
    50% {
        color: var(--pink-color-pale)
    }
    75% {
        color: var(--pink-color-light)
    }
    100% {
        color: var(--accent-color-bright)
    }
}

.animated-blink {
    animation: blink 3s linear infinite;
}

@keyframes blink-bg {
    0% {
        background-color: var(--accent-color-bright)
    }
    25% {
        background-color: var(--pink-color-light)
    }
    50% {
        background-color: var(--pink-color-pale)
    }
    75% {
        background-color: var(--pink-color-light)
    }
    100% {
        background-color: var(--accent-color-bright)
    }
}

.animated-blink-bg {
    animation: blink-bg 3s linear infinite;
}

.btn-dark {
    background-color: var(--color-secondary-2);
    border-color: var(--color-secondary);
}

.btn-dark:focus {
    background-color: var(--color-secondary-3);
    border-color: var(--color-secondary);
    outline: none;
}

.btn-dark:hover {
    background-color: var(--color-secondary-3);
    border-color: var(--color-secondary);
    outline: none;
}

.btn-primary {
    background-color: var(--pink-color-light) !important;
    border-color: var(--pink-color-mid) !important;
    color: var(--contrast-color) !important;
}

.btn-primary:focus {
    background-color: var(--accent-color-bright);
    border-color: var(--accent-color-bright);
    color: var(--contrast-color);
    outline: none;
}

.btn-primary:hover {
    background-color: var(--accent-color-bright) !important;
    border-color: var(--accent-color-bright) !important;
    color: var(--contrast-color) !important;
}

.btn-secondary-alt {
    background-color: var(--accent-color-secondary) !important;
    border-color: var(--accent-color-secondary) !important;
    color: var(--color-main-2) !important;
}

.btn-secondary-alt:focus {
    background-color: var(--accent-color-secondary);
    border-color: var(--accent-color-secondary);
    color: var(--color-main-2);
    outline: none;
}

.btn-secondary-alt:hover {
    background-color: var(--accent-color-secondary) !important;
    border-color: var(--accent-color-secondary) !important;
    color: var(--color-main-2) !important;
}

.btn-outline-primary {
    border-color: var(--pink-color-mid);
    color: var(--pink-color-mid);
}

.btn-outline-primary:hover {
    background-color: var(--pink-color-mid);
    border-color: var(--pink-color-mid);
}

.round-button {
    width: 50px; /* Задайте желаемую ширину и высоту кнопки */
    height: 50px;
    border-radius: 50%; /* Задайте радиус, равный половине ширины (или высоты), чтобы сделать кнопку круглой */
    background-color: var(--pink-color-light); /* Цвет фона кнопки */
    color: var(--color-main); /* Цвет текста кнопки */
    text-align: center;
    line-height: 50px; /* Выравнивание текста по центру вертикально */
    text-decoration: none; /* Убрать подчеркивание при наведении */
}

.round-button:hover {
    background-color: var(--pink-color-mid); /* Цвет фона при наведении */
    /* Дополнительные стили для состояния наведения, если необходимо */
}


.bg-arw-btn,
.arw-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-arw-btn {
    animation: pulse 1.2s ease infinite;
    background: var(--pink-color-mid);
}

.arw-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    border: none;
    background: var(--pink-color-mid);
    background-size: 18px;
    cursor: pointer;
    outline: none;
}

.arw-btn a {
    position: absolute;
    color: #FFF;
    font-size: 17px;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.l1-progress {
    background-color: var(--red-color);
}

.l2-progress {
    background-color: var(--orange-color);
}

.l3-progress {
    background-color: var(--yellow-color);
}

.l4-progress {
    background-color: var(--lime-color);
}

.l5-progress {
    background-color: var(--green-color-2);
}