:root {
    --dark-color-main: #1f1f1f;
    --dark-color-secondary: #2e2e31;
    --pink-color-bright: #ff0059;
    --pink-color-mid: #ec3664;
    --pink-color-light: #f87ba6;
    --pink-color-pale: #f69eb9;
    --white-color: #e8e8e8;
    --gray-color: #4d4c4c;
}

.txt-bright-pink {
    color: var(--pink-color-bright) !important;
}

.txt-mid-pink {
    color: var(--pink-color-mid) !important;
}

.txt-light-pink {
    color: var(--pink-color-light) !important;
}

.txt-white {
    color: var(--white-color) !important;
}

.txt-gray {
    color: var(--gray-color) !important;
}

.txt-dark {
    color: var(--dark-color-main) !important;
}

.bg-main {
    background-color: var(--dark-color-main) !important;
}

.bg-secondary {
    background-color: var(--dark-color-secondary) !important;
}

.dark-grad-bg-img {
    background-image: linear-gradient(180deg, rgb(44 44 44) 0%, #1a1919 70%) !important;
}

.dark-grad-bg {
    background: linear-gradient(45deg, #3237ef, #795df6);
}

@keyframes blink {
    0% {
        color: var(--pink-color-bright)
    }
    25% {
        color: var(--pink-color-light)
    }
    50% {
        color: var(--pink-color-pale)
    }
    75% {
        color: var(--pink-color-light)
    }
    100% {
        color: var(--pink-color-bright)
    }
}

.animated-blink {
    animation: blink 3s linear infinite;
}

@keyframes blink-bg {
    0% {
        background-color: var(--pink-color-bright)
    }
    25% {
        background-color: var(--pink-color-light)
    }
    50% {
        background-color: var(--pink-color-pale)
    }
    75% {
        background-color: var(--pink-color-light)
    }
    100% {
        background-color: var(--pink-color-bright)
    }
}

.animated-blink-bg {
    animation: blink-bg 3s linear infinite;
}