@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-down-o.css');

img {
    transition: 0.5s ease-in-out;
}

.no-border {
    border: none !important;
}

.display-7 {
    font-size: 1rem;
}

.jap-font {
    font-family: 'Noto Serif JP', serif;
}

.main-font {
    font-family: 'Didact Gothic', sans-serif;
}

.pointer-cursor {
    cursor: pointer;
}

/* Стилизация контейнера span */
.custom-select {
    display: inline-block;
    position: relative;
}

/* Стилизация селекта */
.styled-select {
    appearance: none; /* Скрыть стандартные стили браузера */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    padding: 5px 25px 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none; /* Убрать рамку фокуса */
}

/* Стилизация опций */
.styled-select option {
    padding: 5px;
}

/* Стилизация стрелки (можно использовать иконку) */
.styled-select::after {
    content: '\25BC'; /* Юникод-символ для стрелки вниз */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* При наведении изменяем цвет селекта */
.styled-select:hover {
    border-color: #999;
}

.card-brand {
    border-top: 4px solid var(--pink-color-bright);
}

.big-input {
    height: 4rem;
    width: 8rem;
    font-size: 2.5rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
    text-decoration: none;
    transition: font-size 0.2s, font-weight 0.2s;
}





