@inherits BaseAlert

<div class="alert alert-alt alert-danger-alt main-font" role="alert">
    @Message
    <b>
        <span class="fs-4">
            @(new string("=>((!!!))<="))
        </span>
        <i class="fs-5">
            @Message
        </i>
    </b>
</div>


@code {

}