<div class="card card-brand mb-4 shadow bg-main">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h4 class="txt-white main-font">@Title</h4>
                <p class="txt-gray main-font">@HelpText</p>
                @ChildContent

            </div>

        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string HelpText { get; set; } = default!;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

}