@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-secondary-2">
        <NavMenu/>
    </div>
    <main>
        @*
        <NavMenuHeader/>
        *@
        <div style="z-index: 10" class="sticky-top px-4 bg-main-2 no-border">
            <NavMenuHeader/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>