@using DanilvarKanji.Client.Data
@using DanilvarKanji.Client.Localization.LocaleKeys

@inject IStringLocalizer<NavMenu> Loc
@inject IStringLocalizer<App> Loc2
@inject NavigationManager NavManager;


<div class="container-fluid navbar navbar-dark">
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass nav-scrollable mt-3" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <a class="navbar-brand" href="/">
            <img alt="DVKanji" src="img/DVKanjiLogo_2.png" class="rounded img-fluid" width="128" height="128"/>
        </a>
        <div class="nav-item px-3">
            <NavLink class="nav-link main-font" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc[nameof(NavMenuLocaleKeys.Home)]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link main-font" href="characters">
                <span class="jap-font pe-4">
                    <b>字</b>
                </span>
                @Loc[nameof(NavMenuLocaleKeys.Kanji)]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link main-font" href="dictionary">
                <span class="jap-font pe-2">
                    <b>辞書</b>
                </span>
                Dictionary
            </NavLink>
        </div>
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link main-font" href="My-Learning">
                    <span class="jap-font pe-2">
                        <b>学習</b>
                    </span>
                    My Learning
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link main-font" href="Flashcards">
                    <span class="jap-font pe-2">
                        <b>[|]</b>
                    </span>
                    Flashcards
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link main-font" href="Extract-Text">
                    <span class="jap-font pe-2">
                        <b>[T]</b>
                    </span>
                    Extract Text From Image
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link main-font" href="init-add">
                    <span class="jap-font pe-2">
                        <b>新しい</b>
                    </span>
                    Add New
                </NavLink>
            </div>
        </Authorized>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}