<nav class="navbar navbar-expand-lg navbar-light">
    <div id="navbarNav">
        <ul class="navbar-nav">
            <AuthorizeView>
                <NotAuthorized>
                    <li class="nav-item active">
                        <a class="btn btn-primary bg-light-pink txt-dark txt-dark" href="register">Register</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>