@using DanilvarKanji.Shared.Responses.Character
@using DanilvarKanji.Client.Extensions

<div class="@ColStyle" @onclick="OnCardClick">
    <div class="card mb-1 bg-secondary-2">
        <div class="card-body shadow-box  pointer-cursor">
            <h5 class="fs-3 jap-font txt-mid-pink text-center">@CharacterBaseInfo.Definition</h5>
            <p class="text-center">
                @CharacterBaseInfo.GetCharTypeStr()-@CharacterBaseInfo.JlptLevel.GetDisplayName()
            </p>
            @if (DateTime != null)
            {
                <p class="text-center txt">
                    <span class="txt-mid-pink">
                        @DateTimeText
                    </span>
                    <i>@DateTime</i>
                </p>
            }
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired] public required GetCharacterBaseInfoResponse CharacterBaseInfo { get; set; }

    [Parameter] public Action? OnClick { get; set; }

    [Parameter] public string? NavigateTo { get; set; }

    [Parameter] public string? DateTime { get; set; }

    [Parameter] public string DateTimeText { get; set; } = "";

    [Parameter] public string ColStyle { get; set; } = "col-1";

    [Inject] public required NavigationManager NavigationManager { get; set; }

    private void OnCardClick()
    {
        OnClick?.Invoke();

        if (NavigateTo != null)
            NavigationManager.NavigateTo($"/{NavigateTo}");
    }

}