@using DanilvarKanji.Client.Services.Characters
@using DanilvarKanji.Domain.Shared.Enumerations
@using DanilvarKanji.Shared.Responses.Character
@if (_kanjiMeanings is not null)
{
    <CardWrapper Title="Meanings">
        <p class="main-font">

            @for (var i = 0; i < _kanjiMeanings.Count; i++)
            {
                var resultMeaning = $"{char.ToUpper(_kanjiMeanings[i][0])}{_kanjiMeanings[i][1..]}";

                <span class="@(i == 0 ? "fs-1 txt-mid-pink" : "fs-3 txt-green-dim")">
                    @resultMeaning

                    @if (i < _kanjiMeanings.Count - 1)
                    {
                        <span>, </span>
                    }
                </span>
            }
        </p>
    </CardWrapper>
}
else
{
    <DisplayLoading/>
}

@code {

    [Parameter] [EditorRequired] public required CharacterResponseResponseFull Character { get; set; }

    [Parameter] [EditorRequired] public Culture Culture { get; set; }

    [Inject] public required ICharacterService CharacterService { get; set; }

    [Inject] public required IStringLocalizer<App> Localizer { get; set; }

    private List<string>? _kanjiMeanings = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _kanjiMeanings = await CharacterService.GetCharacterKanjiMeanings(Character.Id, int.MaxValue, Culture);
        }
        catch (HttpRequestException e)
        {
        }
    }

}