@using DanilvarKanji.Client.Services.Characters
@using DanilvarKanji.Shared.Responses.CharacterLearning
<h2 class="display-6 txt-mid-pink">
    @Title
    <span class="fs-4 txt-green-dim">
        (@_characterItems?.Count Items)
    </span>
</h2>

@if (_characterItems == null)
{
    <DisplayLoading/>
}
else if (!string.IsNullOrEmpty(_errMsg))
{
    <h3 class="txt-light-pink main-font text-center mt-1">@_errMsg</h3>
}
else if (!_characterItems.Any())
{
    <h3 class="txt-light-pink main-font text-center mt-1">No characters found</h3>
}
else
{
    <div class="row">
        @foreach (CharacterLearningResponseBase? charLearning in _characterItems)
        {
            <CharacterMinimalCard
                NavigateTo="@(new string($"Character/{charLearning.Character.Id}"))" CharacterResponseBaseInfo="charLearning.Character"/>
        }
    </div>
}

@code {


    [Inject] public CharacterLearningService CharacterLearningService { get; set; } = null!;

    [Inject] public NavigationManager NavigationManager { get; set; } = null!;

    [Parameter] [EditorRequired] public string Title { get; set; } = "";

    [Parameter] [EditorRequired] public Func<Task<List<CharacterLearningResponseBase>>> OnListCharactersAsync { get; set; } = null!;

    [Parameter] public int PageNumber { get; set; } = 1;

    [Parameter] public int PageSize { get; set; } = int.MaxValue;

    [Parameter] public bool ListOnlyDayDosage { get; set; }

    private List<CharacterLearningResponseBase>? _characterItems;
    private string _errMsg = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _characterItems = await OnListCharactersAsync.Invoke();
        }
        catch (HttpRequestException e)
        {
            _errMsg = e.Message;
        }
    }

}