@using DanilvarKanji.Shared.Responses.Character
@using DanilvarKanji.Domain.Enumerations

@if (Character.Mnemonics is not null)
{
    <CardWrapper HelpText="MNEMONICS">
        <ul style="list-style-type: none;">
            @foreach (string mnemonic in _characterMnemonics)
            {
                <li>
                    <p class="main-font txt-mid-pink display-6">
                        @{
                            string resultMeaning = $"{char.ToUpper(mnemonic[0])}{mnemonic[1..]}";
                        }
                        @resultMeaning
                    </p>
                </li>
            }
        </ul>
    </CardWrapper>
}

@code {

    [Parameter, EditorRequired]
    public required GetAllFromCharacterResponse Character { get; set; }

    [Parameter, EditorRequired]
    public Culture Culture { get; set; }

    private List<string> _characterMnemonics = new();

    protected override void OnInitialized()
    {
        if (Character.Mnemonics != null)
            _characterMnemonics = Character.Mnemonics
                .Where(x => x.Culture == Culture)
                .Select(x => x.Value)
                .ToList();
    }

}