<div class="card card-brand mb-2 bg-secondary-2">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <h4 class="txt-mid-pink">@Title</h4>
                <p class="txt-green-dim">@HelpText</p>
            </div>

            <div class="col-8">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] [EditorRequired] public string Title { get; set; } = default!;

    [Parameter] [EditorRequired] public string HelpText { get; set; } = default!;

    [Parameter] [EditorRequired] public RenderFragment ChildContent { get; set; } = default!;

}