<div class="d-flex align-items-center justify-content-center">
    <img alt="loading" id="cat" src="img/loading/cube-load.gif"/>
</div>

@code {

    [CascadingParameter] public BlazoredModalInstance BlazoredModal { get; set; } = default!;

}