<div class="d-flex align-items-center justify-content-center gap-3">
    <div class="h4 spinner-border txt-bright-pink"></div>
</div>

@code {

    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; } = default!;

}